- if tracker = Spree::Tracker.current
  script
    |  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){ (i[r].q=i[r].q||).push(arguments)},i[r].l=1*new Date();a=s.createElement(o), m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m) })(window,document,'script','//www.google-analytics.com/analytics.js','ga'); <ruby code=" if user_analytics_id = try_spree_current_user.try(:analytics_id) "> ga('create', { 'trackingId': '<ruby code="= tracker.analytics_id"></ruby>', 'cookieDomain': 'auto', 'userId': '<ruby code="= user_analytics_id"></ruby>' }); </ruby><ruby code="else"> ga('create', '<ruby code="= tracker.analytics_id"></ruby>', 'auto'); </ruby> ga('require', 'displayfeatures'); <ruby code="= yield :google_analytics"></ruby> ga('send', 'pageview'); 
