- if defined?(image) && image
  = image_tag image.attachment.url(:product), :itemprop => "image", class: 'img-responsive center-block'
- else
  = product_image(@product, :itemprop => "image", class: 'img-responsive center-block')
