$icons_map: AC, PC, MC, GP, WM, SB, MP, AB, MA, PB, QW, KV, QP;
.page_end_payment {
  text-align: center;
  .description_payment_page {
    font-size: 20px;
    font-weight: 600;
  }
}
.payment_methods_block {
  clear: both;
  float: left;
  width: 100%;
  color: #333;
  margin-bottom: 30px;
  .payment_methods_label {
    margin-bottom: 10px;
  }
  .payment_method_item {
    display: table;
    margin-bottom: 10px;
    a {
      display: table-cell;
      vertical-align: middle;
      line-height: 1.2;
      height: 40px;
      padding-left: 40px;
    }
    &.active {
      a {
        font-weight: 700;
      }
    }
    @each $icon in $icons_map {
      &.#{$icon} {
        a {
          background: image_url('icon_#{$icon}.png') no-repeat 0 center;
        }
      }
    }
  }
  a {
    color: #333;
    text-decoration: none;
    &:hover {
      font-weight: 700;
    }
  }
}

@media (min-width: 750px) {
  .payment_methods_block {
    .payment_method_item {
      width: 46%;
      float: left;
      margin-right: 8%;
      &:nth-child(2n) {
        margin-right: 0;
      }
      &:nth-child(2n+1) {
        clear: both;
      }
    }
  }
}