/*
 *= require swiper.min
 *= require slicknav.min
 *= require elements
 *= require header
 *= require slider
 *= require home
 *= require page
 *= require footer
 *= require events
 *= require styles
 *= require helpers
 */
