/* Event styles */

.event-tile {
  min-height: 100px;
  padding-top: 4px;
  padding-bottom: 4px;
  position: relative;

  img {
    width: 100%;
  }

  .title {
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    margin-top: 0;
    padding: 5px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .delete {
    position: absolute;
    top: 0;
    right: 0;
  }

  .up {
    position: absolute;
    top: 30px;
    right: 0;
  }

  .down {
    position: absolute;
    top: 60px;
    right: 0;
  }
}

#event_image {
  min-width: 50px;
  min-height: 50px;
  max-width: 100%;
}

#event_content {
  img {
    max-width: 100%;
    min-width: 100%;
  }
}
