footer {
  background: black;
  height: 60px;

  .links {
    background: black;
    color: white;
    text-align: right;

    a {
      color: white;
      display: inline-block;
      padding: 15px;
      height: 50
    }
  }
}

.b-logo-footer{
    width: 88px;
    margin: 7px auto 0px;
    right: 0px;
    left: 0px;
    position: absolute;
}

@media (max-width:800px) {
  .anti-none {
    display: none;
  }
}
