/* Global helper classes */

.no-left-padding {
  padding-left: 0;
}

.no-right-padding {
  padding-right: 0;
}

.full-width {
  width: 100%;
}

.no-gutter > [class*='col-'] {
  padding-right:0;
  padding-left:0;
}

html, body {
  height: 100%;
}

.full-min-height {
  min-height: 100%;
}

.true-height {
  height: auto;
}

.btn-shop {
  width: 42%;
}
.padding-top {
  padding-top: 10px;
}
.right-width {
  padding: 0px 10px;
  width: 47%;
}

@media (max-width:700px) {
    .btn-shop{
      width: 48%;
      margin-left: 3px;
      margin-right: 3px;
    }
    .right-width {
      padding: 0px 10px;
      width: 49%;
    }
}

@media (max-width: 450px) {
    .btn-shop {
      margin-left: 2px;
      margin-right: 2px;
    }
    .mini-font {
      font-size: 11px;
    }
    .cart-total{
      .summary {
        font-size: 17px;
      }
    }
}
.none {
  display: none;
}
.panel-body a.big-img-link:nth-child(1) {
  display: block;
}
.fancybox-close {
  position: absolute;
  top: 5px;
  right: -8px;
  width: 36px;
  height: 36px;
  cursor: pointer;
  z-index: 8040;
  font-size: 25px;
}
.fancybox-close:hover {
  text-decoration:none;
}
