/* Global helper classes */

.no-left-padding {
  padding-left: 0;
}

.no-right-padding {
  padding-right: 0;
}

.full-width {
  width: 100%;
}

.no-gutter > [class*='col-'] {
  padding-right:0;
  padding-left:0;
}

html, body {
  height: 100%;
}

.full-min-height {
  min-height: 100%;
}

.true-height {
  height: auto;
}