.top-product-tiles {
  .tile {
    display: inline-block;
    width: 50%;

    img {
      width: 100%;
    }
  }
}

.main-product-wrapper {
  padding: 3px;

  @media (max-width: 991px) {
    padding: 3px 0 0;
  }
}

.main-board-wrapper {
  padding: 3px 3px;

  .title {
    a {
      color: black;
    }
  }

  .price {
    color: gray;
  }
}

.main-event-wrapper {
  padding: 2px 2px;

  @media (max-width: 767px) {
    padding-left: 0;
    padding-right: 0;
  }
}

.container-store {
  @media (max-width: 991px) {
    padding: 0;
    width: 100%;
  }
}

html, body {
  height: 100%;
}

.full-min-height {
  min-height: 100%;
}