.top-product-tiles {
  .tile {
    display: inline-block;
    width: 50%;

    img {
      width: 100%;
    }
  }
}

.full-width {
  width: 100%;
}

.no-gutter > [class*='col-'] {
  padding-right:0;
  padding-left:0;
}

.padding-2pc {
  padding: 2%;
}