/* Spree views */

.product-body {
  height: 220px;
}

h1 {
  margin-bottom: 30px;
}

#cart-detail {
  .cart-item-image {
    padding-bottom: 10px;
  }

  .lead {
    white-space: nowrap;
  }

  .line-result {
    white-space: nowrap;

    .line_item_quantity {
      border-radius: 0;
      display: inline;
      width: 70px;
    }

    .glyphicon.glyphicon-remove {
      margin-left: 20px;
      margin-right: 20px;

      @media (max-width: 767px) {
        margin-left: 5px;
        margin-right: 5px;
      }
    }

    .cart-item-total {
      display: inline-block;

      @media (max-width: 767px) {
        margin-left: 8px;
      }

      @media (min-width: 768px) {
        width: 110px;
      }
    }
  }

  & > .row {
    border-top: dashed 1px #ccc;
    padding-bottom: 10px;
    padding-top: 10px;

    &:last-of-type {
      border-bottom: solid 1px #ccc;
    }
  }

  a {
    color: black;
    text-decoration: underline;

    &.delete {
      color: #777;
    }
  }
}

.margin-top-5 {
  margin: 5px;
}

.cart-total {
  background-color: #ccc;
  padding: 10px;

  .summary {
    font-size: 24px;
    text-align: right;
  }

  .full-width {
    width: 100%;
  }
}

// Updated credit-card image
#credit-card-image {
  margin-top: -10px;
}

.existing-credit-card-list td {
  padding: 5px;
}

#products {
  .product-list-item {
    .info {
      display: block;
      font-size: 16px;
      padding-bottom: 15px;
    }

    .price {
      display: block;
      font-size: 13px;
      padding-bottom: 30px;
    }

    a {
      color: black;
      font-weight: bold;
      text-transform: uppercase;
    }
  }
}

.taxon-title {
  font-size: 30px;
  font-weight: normal;
  padding: 5px 20px;
}

.alert {
  border-radius: 0;
  margin: 0;
}

.swiper-container {
  width: 100%;
  padding-bottom: 50%;
  height: 0;

  img {
    width: 100%;
  }
}

.add-to-cart {
  .form-group input {
    margin-bottom: 10px;
  }
}

#product-price {
  padding-bottom: 10px;

  .lead {
    font-size: 24px;
  }
}

#product-description {
  .form-control {
    border-radius: 0;
  }

  .product-title {
    margin: 15px 0;
  }

  .well {
    border-radius: 0;
    border: none;
    box-shadow: none;
    background: none;
  }
}

.table > tbody > tr > td{
border: none;
}

.table-striped > tbody > tr {
  &:nth-of-type(2n+1), &:nth-of-type(2n) {
    background: none;
    border: none;
  }
}

.full-size {
  width: 100%;
}

#add-to-cart-button {
  margin-bottom: 15px;
}

.progress-steps {
  margin: 0 0 10px;
}

.product-show-body {
  padding-top: 10px;
}

.product-index {
  padding-top: 10px;

  li {
    font-size: 30px;
    list-style-type: none;

    a {
      color: black;
      padding: 10px;
      text-decoration: underline;
    }
  }
}
